[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
gino = "*"
python-dotenv = "*"
marshmallow-sqlalchemy = "*"
geoalchemy2 = "*"
psycopg2-binary = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
networkx = {extras = [ "default",]}
aiohttp = "*"
openapi-spec-validator = "*"
alembic = "*"
pytest = "*"
pytest-aiohttp = "*"
pytest-alembic = "*"
dataclasses-jsonschema = "*"
black = "*"
aiohttp-jinja2 = "*"
flake8 = "*"
geopy = "*"
sqlalchemy = "*"
